:local(.base){
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}

:local(.reload){
  margin-left: 20px;
  cursor: pointer;
  transition: all .3s;
}

:local(.reload):hover{
  transform: scale(1.2);
}