:local(.base){
  position: absolute;
  top: -60px;
  right: -60px;
  border: none;
  outline: none;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  cursor: pointer;
  transition: all .3s;
  background-color: rgba(0, 0, 0, .54);
}

:local(.base):hover{
  background-color: rgba(0, 0, 0, .7);
}

:local(.base):active > :local(.icon){
  transform: scale(1.2);
}


:local(.icon){
  position: absolute;
  top: 68px;
  right: 65px;
  transition: all .3s;
}