:local(.base){
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all .3s;
  background-color: rgba(0, 0, 0, .54);
  overflow: hidden;
}

:local(.open){
  opacity: 1;
  pointer-events: auto;
}

:local(.close){
  opacity: 0;
  pointer-events: none;
}